.qr-video{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 100;
}

.exit {
    position: absolute;
    top: 5px;
    right: 5px;
}